body {
  font-family:'Courier New', Courier, monospace;
  background-color: bisque;
}

h1 {
  font-size: 30px;
  text-align: center;
  padding: 20px;

}

section {
  border: thick solid goldenrod;
  border-radius: 25px;
}

section img {
  margin: 10px;
  border-radius: 25px;
  border: medium solid goldenrod;
  width: 600px;
}

article {
  width: 33%
  float: right;
  margin-right: 10px;
}

h3 {
  font-family: 'DM Serif Text', serif;
  font-size: 1.5em;
  margin: 10px;
}

p {
  line-height: 1.25em;
  text-align: justify;
}

table {
  border: medium solid red;
  border-spacing: 5px;
  margin: 25px auto;
  border-collapse: separate;
}

th, td {
  padding: 10px;
  border: 1px red;
}

th {
  font-weight: bolder;
}

td {
  font-weight: bolder;
  padding: 10px;
  margin: 1px auto;
}